
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
!data/
/data/*
/data/notes/*
/public/images/*
!data/example_settings.json
!data/notes/
!public/images/example.jpg
!data/notes/example_note.json

###< symfony/framework-bundle ###
*.bat
