{# templates/404.html.twig #}

{% extends 'base.html.twig' %}

{% block header %}
  <h1>{{ pageTitle }}</h1>
{% endblock %}

{% block article %}
  <div class="content">
    <div class="error">
      <h2>Что-то пошло не так...</h2>
      <h3>{{ problems }}</h3>
      <a href="#" onclick="history.back(); return false;">Вернуться назад</a>  
    </div>
  </div>
{% endblock %}